.messages-action-button:focus {
    outline: 0;
}

.message-item {
    border-bottom: 1px solid #eceff1;
    padding-bottom: 10px;
    margin: 0 5px 10px 5px;
    height: 80px;
    overflow: hidden;
}

.message-title {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 5px 0;
    color: #000000;
}

.message-sender {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    color: #494949;
}

.message-title.unread {
    font-weight: bold;
}

.message-title.unread::before {
    content: '●';
    color: #48a999;
    margin-right: 5px;
}

.message-snippet {
    color: #494949;
    font-size: 13px;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
}

.message-item.view:hover {
    cursor: pointer;
}
