/* react-grid-layout */

.react-grid-layout {
    background-color: #f8f8f8;
}

.react-grid-item {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    overflow: auto;
}

.react-grid-item.CHART {
    overflow: hidden;
}


/* dashboard */

.dashboard-grid-wrapper {
    margin: 20px;
}

.dashboard-item-header {
    padding: 2px 5px 5px;
    border-bottom: 1px solid #eee;
}

.dashboard-item-content {
    padding-top: 3px;
}
