.itemLabel {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
}

.showMoreButton {
    text-decoration: underline;
    border: none;
    background-color: transparent;
}

.showMoreButton:hover {
    cursor: pointer;
}

.buttonInsert {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    float: right;
}
