.showMoreButton {
    text-decoration: underline;
    border: none;
    background-color: transparent;
}

.showMoreButton:hover,
.buttonInsert:hover {
    cursor: pointer;
}

.buttonInsert {
    border: none;
    text-decoration: underline;
    background-color: transparent;
}

li:hover .buttonInsert {
    visibility: visible;
}

li .buttonInsert {
    visibility: hidden;
}

.buttonInsert:focus,
.showMoreButton:focus {
    outline: none;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.launchLink {
    margin-left: 3px;
}

.itemTitle {
    display: flex;
    align-items: center;
}
