# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/target

# documentation
docs/*

# misc
.DS_Store
*.env.local*
.idea
*.iml
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

manifest.webapp

#maven
/target
