language: node_js
node_js:
- '8'
env:
  global:
  - CC_TEST_REPORTER_ID=daeae58060a32f8d37e835457e8b2a1f9af55a38694826f4f6628a30383314f6
  - secure: L/VfchxLzvDlaUL3GDNiRXqA9UMkqIoXXs3FteMdoo07mOaWfqA0PN/MnOwwsw8UwC5J+2LstxLyi/AN1mjs+2vMUeZGMMZKf40My10XiPZCHp0/uxRjEa9nZuQ0OIZBAwTOqp60qGPbK/h4PAcit3Wk0XPPYpL/FXReVDubIeLn72rvr9BnnYrBsIBS6/3bfZUT1bpLr2nadB1NerdN+UPl1oOVq6VS6CQ/NmGL0lSqsZfk6q+g2X9tkjeO37UYL40+9MGDq5pLBX0r8jCdiXknQciFx/AvCitiZ0sme8pX7uIz8P5ikFQKIRlD9DNJe2/q7f7DjR30gzg4BOQotIKvcFAuucGWGZpEQKdqv5XheXG2C0M/0uGOSun+kgTzTpr5e1qpYqt6HXYfN9HXcaJ3bMcriS1qjgo33ipLJTUotI85xQUiRpUFczPJ20D5u65NpUvOpP9+QO1vp2HdLW8yF+TT1qAwjunKZUwKbKdtnEAWDJArmdWZbpd6gHRu1e1IdKSZo5b1P0wABHXfGZExduhu+N6/LYVe1WBffLBD33gaJvZvf1E4aonNSzkhYLVQ9QOV4K/YIv4lGiKZeNrLvK5Ws9+WJPGMLsn6nLTzpPPQY4JzuVJRHQnsvgW/VjhP0URsPxUzQCQdZkQcjyainz/7cO9W1jS3foouDpk=
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
- npm install --global @dhis2/deploy-build
script:
- npm run lint
- npm run coverage
- npm run build
after_script:
- "./cc-test-reporter after-build -d --exit-code $TRAVIS_TEST_RESULT"
deploy:
- provider: script
  script: deploy-build
  skip_cleanup: true
  on:
    all_branches: true
