.link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin-inline-end: 4px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--colors-grey700);
    cursor: default;
    user-select: text;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
}
.description {
    margin-block-start: 15px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-size: 14px;
    color: var(--colors-grey700);
}

.filters {
    margin: 10px;
    font-size: 14px;
    color: var(--colors-grey700);
}

@media print {
    .link {
        display: none;
    }
}
