.container {
    display: flex;
    flex-direction: column;
    block-size: 100%;
}

.wrapper {
    background-color: var(--colors-grey200);
    padding-inline-start: 44px;
    overflow-y: auto;
}

.pageOuter {
    padding: var(--spacers-dp12);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px var(--colors-grey500);
    margin-block-end: 50px;
    inline-size: var(--a4-landscape-width-px);
}

@media only screen and (max-width: 480px) {
    .wrapper {
        padding-inline-start: var(--spacers-dp12);
    }
}

@media print {
    .wrapper {
        background-color: white;
        block-size: auto !important;
        overflow: visible !important;
        padding-inline-start: 0px;
    }

    .pageOuter {
        box-shadow: none;
        border-radius: 0px;
    }
}
