header.hidden {
    display: none;
}

.react-grid-item.print {
    display: flex;
    flex-direction: column;
}

.react-grid-item.PAGEBREAK.removed {
    display: none !important;
}

.react-grid-item.PAGEBREAK {
    inline-size: calc(var(--a4-landscape-width-px) + 18px) !important;
    border: none !important;
    box-shadow: none !important;
    background-color: var(--colors-grey200);
}

.react-grid-item.PAGEBREAK::before {
    content: '';
    position: absolute;
    inset-block-start: -3px;
    inset-inline-start: 3px;
    inline-size: var(--a4-landscape-width-px);
    block-size: 3px;
    box-shadow: 0px 0px 3px 0px #6e7a8a;
}

.react-grid-item.PAGEBREAK::after {
    content: '';
    position: absolute;
    inset-block-end: -3px;
    inset-inline-start: 3px;
    inline-size: var(--a4-landscape-width-px);
    block-size: 3px;
    box-shadow: 0px 0px 3px 0px #6e7a8a;
}

.react-grid-item.PRINT_TITLE_PAGE {
    border: none;
    box-shadow: none;
    justify-content: center;
}

.react-grid-item.print .mapboxgl-control-container {
    display: none;
}

.react-grid-item.print .dhis2-map-legend {
    display: none;
}

@page {
    size: A4 landscape;
    margin: 10pt;
}
