.container {
    margin-bottom: var(--spacers-dp16);
    width: 100%;
    color: #3e4a59;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: var(--spacers-dp16) 0;
}

.printSuggestions {
    font-size: 14px;
    line-height: 1.3;
}

.printSuggestions li {
    padding: var(--spacers-dp4) 0;
}

.divider {
    width: var(--a4-landscape-width-px);;
    height: 1px;
    margin: var(--spacers-dp16) 0;
    border: 0;
    background-color: var(--colors-grey400);
}

@media print {
    .container {
        display: none;
    }
}
