.container {
    background-color: var(--colors-grey600);
    width: 100%;
    padding: 3px;
    position: fixed;
    z-index: 10;
    height: 42px;
}

.topMargin {
    margin-top: 42px;
}

.inner {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: 4px;
}

@media print {
    .container {
        display: none;
    }
}
