.container {
    background-color: var(--colors-grey600);
    width: 100%;
    padding: var(--spacers-dp4) 0;
    z-index: 10;
}

.actions {
    margin-left: 44px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 1102px;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: var(--spacers-dp4);
}

.actions .buttonSmall {
    display: none;
}

@media only screen and (max-width: 480px) {
    .container {
        padding-bottom: 3px;
    }

    .actions {
        margin: 0 var(--spacers-dp8);
    }

    .actions .buttonSmall {
        display: inline-flex;
    }

    .actions .buttonWide {
        display: none;
    }
}

@media print {
    .container {
        display: none;
    }
}
