.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    background-color: #f4f6f8;
    margin-left: var(--spacers-dp32);
    padding-left: var(--spacers-dp12);
    overflow-y: auto;
}

.wrapper.editView {
    padding-top: 24px;
    padding-bottom: 48px;
}

.pageOuter {
    padding: var(--spacers-dp12);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px var(--colors-grey500);
    margin-bottom: 50px;
    width: 1102px;
}

@media print {
    .wrapper {
        background-color: white;
        height: auto !important;
        overflow: visible !important;
        margin-left: 0px;
        padding-left: 0px;
    }

    .pageOuter {
        box-shadow: none;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        margin-left: 0px;
    }
}
