.container {
    background-color: var(--colors-grey600);
    width: 100%;
    padding: var(--spacers-dp4) 0;
    flex: none;
}

.inner {
    margin-left: 44px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 1102px;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: var(--spacers-dp4);
}

@media only screen and (max-width: 480px) {
    .container {
        padding-bottom: 3px;
    }

    .inner {
        margin: 0 var(--spacers-dp8);
    }

    .topMargin {
        margin-top: 36px; /* PRINT_ACTIONS_BAR_HEIGHT_SM */
    }
}

@media print {
    .container {
        display: none;
    }

    .topMargin {
        margin-top: 0px;
    }
}
