.container {
    background-color: var(--colors-grey600);
    width: 100%;
    padding: 3px;
    position: fixed;
    z-index: 10;
    height: 42px;
}

.topMargin {
    margin-top: 42px;
}

.inner {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: 4px;
}

@media print {
    .container {
        display: none;
    }

    .topMargin {
        margin-top: 0px;
    }
}

/**
* using a4LandscapeWidthPx (1102 px) plus margin left (30px)
*/
@media only screen and (max-width: 1132px) {
    .inner {
        width: auto !important;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .inner {
        margin-left: 8px;
        margin-right: 8px;
        width: auto !important;
    }
}
