.react-grid-item.layout.PAGEBREAK {
    margin-left: -25px;
    min-height: 50px !important;
    height: 50px !important;
}

.react-grid-item.layout.SPACER {
    visibility: hidden;
}

.react-grid-item.layout.PRINT_TITLE_PAGE.removed {
    display: none;
}

@media print {
    .react-grid-item.layout.PAGEBREAK {
        visibility: hidden !important;
    }

    .react-grid-item.layout.PAGEBREAK.removed {
        display: none !important;
    }
}
