.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1998;
    background: rgba(33, 43, 54, 0.4);
    display: none;
}

@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .cover {
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    .container {
        overflow-y: auto;
    }
}
