.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.dashboardContainer {
    position: relative;
}

@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .dashboardContainer.covered {
        overflow: hidden;
    }
}
