.container {
    margin-top: 13px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.editLink {
    text-decoration: none;
}
.titleBar {
    display: flex;
    align-items: flex-start;
}
.titleBarIcon {
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.strip {
    display: flex;
    margin-left: var(--spacers-dp8);
}

.strip > * {
    margin-left: var(--spacers-dp8);
}

.title {
    position: relative;
    font-size: 21px;
    font-weight: 500;
    color: var(--colors-black);
    min-width: 50px;
    cursor: default;
    user-select: text;
    top: 7px;
}

.descContainer {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.desc {
    color: var(--colors-grey700);
}

.noDesc {
    color: #888;
}

.moreText {
    margin-left: 5px;
}

.moreButtonSmall {
    display: none !important;
}

@media only screen and (max-width: 480px) {
    .editLink,
    .shareButton {
        display: none !important;
    }

    .title {
        top: 3px;
    }
    .moreButton {
        display: none !important;
    }

    .moreButtonSmall {
        display: inline-flex !important;
    }
}
