.actions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.editLink {
    text-decoration: none;
}
.titleBar {
    display: flex;
    align-items: flex-start;
}
.titleBarIcon {
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.strip {
    display: flex;
    margin-left: var(--spacers-dp8);
}

.strip > * {
    margin-left: var(--spacers-dp8);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
