.actions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.editLink {
    text-decoration: none;
}
.titleBar {
    display: flex;
    align-items: flex-start;
}
.titleBarIcon {
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.strip {
    display: flex;
}

.strip > * {
    margin-left: 6px;
}
