.descContainer {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: var(--spacers-dp16);
    color: var(--colors-grey700);
}

.radioButton {
    margin-bottom: var(--spacers-dp16);
}

.transferHeader {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}