.description {
    font-size: 14px;
    color: var(--colors-grey700);
    margin-block-start: var(--spacers-dp8);
    margin-block-end: 0;
}

.empty {
    color: var(--colors-grey600);
    font-style: italic;
}
