.grid {
    margin-block-start: var(--spacers-dp16);
    background-color: #f4f6f8;
}

.slideshowGrid {
    margin-block-start: 0;
    background-color: var(--colors-white);
}

.fullscreenItem {
    inline-size: 100% !important;
    block-size: calc(100vh - 40px) !important;
    transform: none !important;
}

.hiddenItem,
.preFullscreen {
    opacity: 0;
}

.displayedItem {
    opacity: 1;
    transition-delay: 100ms !important;
    transition-property: opacity !important;
}
