.container {
    position: fixed;
    inset-block-end: 0;
    inline-size: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    block-size: 40px;
}

.container button {
    color: white;
    background-color: #171819;
    border-radius: 3px;
    border: none;
    inline-size: 32px;
    block-size: 32px;
    padding: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #202124;
}

.container button:disabled {
    cursor: not-allowed;
}
.controls {
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageCounter {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 14px;
    margin: 0 8px;
    min-inline-size: 60px;
    /* avoid moving buttons for most counts below 999 items */
    text-align: center;
    user-select: none;
}

.exitButton {
    flex-grow: 1;
    flex-basis: 0;
    text-align: start;
    margin-inline-start: 4px;
}

.filters {
    flex-grow: 1;
    flex-basis: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-inline-end: 4px;
    gap: 4px;
}

.filter {
    padding: 4px;
    border-radius: 3px;
    color: black;
    background-color: #f4f6f8;
}
