.outer {
    display: flex;
    justify-content: center;
    height: 100%;
}
.inner {
    padding: var(--spacers-dp16) var(--spacers-dp24);
    max-width: 600px;
    box-sizing: border-box;
    color: var(--colors-grey900);
    position: relative;
    display: flex;
    align-items: center;
}
.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.errorIcon {
    width: 136px;
    height: 136px;
    margin: 0 auto var(--spacers-dp24);
}
.errorTitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey800);
    letter-spacing: 0.15px;
    line-height: 24px;
    width: 360px;
    margin: 0 auto var(--spacers-dp12);
}
.errorDescription {
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-grey700);
    line-height: 19px;
    width: 360px;
    margin: 0 auto;
}
.title {
    font-weight: bold;
    margin-top: 0;
    line-height: 22px;
    color: var(--colors-grey700);
}
.section {
    text-align: left;
    background: #fff;
    padding: 20px;
    margin-bottom: var(--spacers-dp24);
    border-radius: 5px;
}
.guide {
    line-height: 18px;
    letter-spacing: 0.1px;
    list-style-position: outside;
    margin: 0 0 0 var(--spacers-dp12);
    padding: 0 0 0 var(--spacers-dp12);
}
.guideItem {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin-bottom: var(--spacers-dp12);
}
.dashboard {
    display: flex;
    align-items: center;
    margin: 0 0 var(--spacers-dp12) 0;
    padding: 0;
    letter-spacing: 0.1px;
    line-height: 16px;
    cursor: pointer;
    font-size: 14px;
    color: var(--colors-grey900);
    text-decoration: none;
}
.dashboard :hover {
    text-decoration: underline;
}
.icon {
    height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    top: -1px;
}
.icon svg {
    height: 16px;
    width: 16px;
    margin-right: var(--spacers-dp8);
}
