.editBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: var(--spacers-dp8);
    padding-block-end: var(--spacers-dp8);
    padding-inline-start: 0;
    padding-inline-end: 0;
    background-color: var(--colors-yellow050);
    border-block-end: 1px solid var(--colors-grey400);
    position: relative;
    z-index: 10;
    flex: none;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: var(--spacers-dp8);
    padding-inline-end: var(--spacers-dp8);
}

.offline {
    background-color: rgb(195, 100, 100) !important;
    color: white !important;
}

.online {
    background-color: rgb(143, 188, 167) !important;
    color: white !important;
}
