.editBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 71px;
    background-color: var(--colors-yellow050);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 3px;
    position: relative;
    z-index: 10;
    flex: none;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacers-dp8);
}

.offline {
    background-color: rgb(195, 100, 100) !important;
    color: white !important;
}

.online {
    background-color: rgb(143, 188, 167) !important;
    color: white !important;
}
