.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 100%;
    padding: var(--spacers-dp24);
}

.inner {
    text-align: center;
    max-inline-size: 640px;
}

.glyph {
    fill: var(--colors-grey500);
    margin-block-end: var(--spacers-dp16);
}

.title {
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin-block: 0 var(--spacers-dp8);
}

.subtitle {
    font-size: 14px;
    line-height: 1.4;
    color: var(--colors-grey700);
    margin-block: 0 var(--spacers-dp24);
}

.control {
    display: flex;
    justify-content: center;
}

.description {
    font-size: 13px;
    color: var(--colors-grey700);
    margin-block: var(--spacers-dp12) 0;
    min-block-size: 1.3em;
}
