.option {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp8);
    border: 1px solid var(--colors-grey300);
    border-radius: 3px;
}

.activeOption {
    border-color: var(--colors-teal400);
    background: var(--colors-teal050);
}

.radio {
    margin-top: var(--spacers-dp16);
    margin-right: var(--spacers-dp8);
}

.iconWrapper {
    margin: 2px var(--spacers-dp16) 0 var(--spacers-dp24);
    fill: var(--colors-grey500);
}

.activeIcon {
    fill: var(--colors-teal500);
}

.title {
    margin: 0 0 var(--spacers-dp8) 0;
    font-size: 20px;
}

.description {
    margin: 0;
    font-size: 14px;
    color: var(--colors-grey700);
}

.columnOptions {
    display: flex;
    margin-top: var(--spacers-dp16);
}

.gap {
    margin-left: var(--spacers-dp16);
}
