.container {
    background: var(--colors-grey100);
}

.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacers-dp8);
}

.inputWrapper > div {
    flex-grow: 1;
    min-width: 350px;
    margin-bottom: var(--spacers-dp8);
}

.inputWrapper > div:first-child {
    margin-right: var(--spacers-dp8);
}

.searchContainer {
    display: flex;
    flex-wrap: wrap;
    background: var(--colors-grey200);
    border: 1px solid var(--colors-grey400);
    border-radius: 6px;
    padding: var(--spacers-dp4) var(--spacers-dp4) 0 var(--spacers-dp12);
}

.searchContainer > :not(:last-child) {
    margin-right: 32px;
}

.searchContainer > div {
    margin-bottom: var(--spacers-dp8);
}

.searchWrapper {
    flex-grow: 1;
    min-width: 300px;
}

.layoutWrapper {
    min-width: 230px;
}

.positionWrapper {
    min-width: 280px;
}

.label {
    font-size: 13px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin: 5px 0 3px;
}

.layoutValue {
    font-size: 14px;
    color: var(--colors-grey900);
}

.layoutOption {
    display: flex;
    align-items: center;
    color: var(--colors-grey700);
}

.layoutOption > svg {
    height: 14px;
    width: 14px;
    fill: var(--colors-grey700);
}

.layoutOption > :not(:last-child) {
    margin-right: var(--spacers-dp8);
}

.positionOptions {
    display: flex;
    padding-top: 4px;
}

.positionOptions > :not(:last-child) {
    margin-right: var(--spacers-dp8);
}
