.list {
    margin-top: 10px;
    list-style: none;
    padding-inline-start: 0px;
}

.item {
    margin-bottom: var(--spacers-dp8);
}

.itemContent {
    display: inline-flex;
}

.link {
    font-size: 14px;
    margin-left: var(--spacers-dp4);
    text-decoration: underline;
}

.removeButton {
    border: none;
    cursor: pointer;
    margin-left: var(--spacers-dp8);
    color: var(--colors-red600);
    font-size: 12px;
    text-decoration: underline;
    background-color: transparent;
    vertical-align: text-bottom;
}

.removeButton:hover,
.removeButton:focus {
    outline: none;
    color: var(--colors-red800);
}
