.container {
    display: flex;
    align-items: center;
    background-color: var(--colors-white);
    color: var(--colors-grey900);
    border: 1px solid var(--colors-grey400);
    border-radius: 6px;
    padding: var(--spacers-dp16);
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: background-color;
}

.container.checked {
    background-color: var(--colors-teal100);
    border-color: var(--colors-teal500);
    box-shadow: var(--elevations-e100);
}

.container.unchecked:hover {
    border-color: var(--colors-grey500);
}

.container:has(:focus-within) {
    outline: 3px solid var(--colors-blue600);
    outline-offset: -3px;
}

.container .content {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp12);
}

.container .icon svg {
    fill: var(--colors-grey700);
}

.container.checked .icon svg {
    fill: var(--colors-teal700);
}

.container .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container .text p {
    margin: 0;
}

.container .title {
    font-size: 15px;
    line-height: 19px;
    color: var(--colors-grey900);
    font-weight: 500;
}

.container .subtitle {
    font-size: 13px;
    line-height: 17px;
    color: var(--colors-grey700);
}

.container input {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}
