.container {
    cursor: pointer;
}

.container .content {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp12);
}

.container svg {
    fill: var(--colors-grey700);
}

.container.checked svg {
    fill: var(--colors-teal700);
}

.container .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container .text p {
    margin: 0;
}

.container .title {
    font-size: 15px;
    line-height: 19px;
    color: var(--colors-grey900);
    font-weight: 500;
}

.container .subtitle {
    font-size: 13px;
    line-height: 17px;
    color: var(--colors-grey700);
}

.container input {
    appearance: none;
    inline-size: 0;
    block-size: 0;
    opacity: 0;
}
