.interpretation-container,
.comment-container {
    background-color: #f6f7f8;
    border-radius: 4px;
    padding: 10px;
    max-width: 560px;
    margin-top: 10px;
}

.interpretation-container {
    margin-left: 10px;
}

.comment-container {
    padding: 6px;
}

.interpretation-action-button {
    background-color: transparent;
    border: none;
    color: #494949;
    cursor: pointer;
    font: inherit;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-right: 10px;
    padding: 0 !important;
    text-decoration: underline;
}

.interpretation-action-button:focus {
    outline: 0;
}
