@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./roboto-v15-latin-ext_latin-300.woff');
    src: local('Roboto Light'), local('Roboto-Light'),
    url('./roboto-v15-latin-ext_latin-300.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./roboto-v15-latin-ext_latin-regular.woff');
    src: local('Roboto'), local('Roboto-Regular'),
    url('./roboto-v15-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./roboto-v15-latin-ext_latin-500.woff');
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./roboto-v15-latin-ext_latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./roboto-v15-latin-ext_latin-700.woff');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./roboto-v15-latin-ext_latin-700.woff') format('woff');
}