.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.cover {
    display: none;
}

@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .cover {
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    .container {
        overflow-y: auto;
    }
}
