/* react-grid-layout style */

.react-grid-item {
    overflow: hidden !important;
    box-shadow: 0px 0px 3px 0px #999999;
    background-color: #ffffff;
    border-radius: 3px;
    min-height: 70px;
    min-width: 70px;
}

.react-grid-item.edit,
.react-grid-item.RESOURCES,
.react-grid-item.TEXT,
.react-grid-item.MESSAGES,
.react-grid-item.APP {
    display: flex;
    flex-direction: column;
}

.react-grid-item.edit:hover {
    cursor: move;
}

.react-grid-item.SPACER.view {
    visibility: hidden;
}

.react-grid-item.SPACER.edit {
    background-color: rgba(255, 255, 255, 0.3);
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 150ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* react-resizable */

.react-resizable-handle {
    background: none;
}

/* dashboard item - header */

.dashboard-item-header {
    font-size: 15px;
    font-weight: 700;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    padding: 0 4px 0 14px;
    height: 45px;
}

.dashboard-item-header-title {
    flex: 1;
    overflow: hidden;
    position: relative;
    top: -1px;
    left: -1px;
}

/* dashboard item - content */

.dashboard-item-content {
    padding: 0 4px 4px;
    overflow: auto;
}

.react-grid-item.edit .dashboard-item-content,
.react-grid-item.RESOURCES .dashboard-item-content,
.react-grid-item.TEXT .dashboard-item-content,
.react-grid-item.MESSAGES .dashboard-item-content,
.react-grid-item.APP .dashboard-item-content {
    flex: 1;
}

.CHART.resizing .dashboard-item-content,
.EVENT_CHART.resizing .dashboard-item-content {
    overflow: hidden;
}
