/* react-grid-layout style */

.react-grid-item {
    overflow: hidden !important;
    box-shadow: 0px 0px 3px 0px #999999;
    background-color: #ffffff;
    border-radius: 3px;
    min-height: 70px;
    min-width: 70px;
}

.react-grid-item.edit,
.react-grid-item.print,
.react-grid-item.RESOURCES,
.react-grid-item.TEXT,
.react-grid-item.MESSAGES,
.react-grid-item.APP {
    display: flex;
    flex-direction: column;
}

.react-grid-item.print .mapboxgl-control-container {
    display: none;
}

.react-grid-item.print .dhis2-map-legend {
    display: none;
}

.react-grid-item.PAGEBREAK {
    width: 1108px !important;
    margin-left: -23px;
    border: none;
    box-shadow: none;
    background-color: #f4f6f8;
}

.react-grid-item.PRINT_TITLE_PAGE {
    border: none;
    box-shadow: none;
    justify-content: center;
}

.react-grid-item.edit:hover {
    cursor: move;
}

.react-grid-item.SPACER.view,
.react-grid-item.SPACER.print {
    visibility: hidden;
}

.react-grid-item.SPACER.print.oipp {
    display: none;
}

.react-grid-item.SPACER.edit {
    background-color: rgba(255, 255, 255, 0.3);
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 150ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* react-resizable */

.react-resizable-handle {
    background: none;
}

/* dashboard item - content */

.dashboard-item-content {
    margin: 0 4px 4px;
    overflow: auto;
}

.CHART .dashboard-item-content {
    overflow: hidden;
}

.react-grid-item.edit .dashboard-item-content,
.react-grid-item.RESOURCES .dashboard-item-content,
.react-grid-item.TEXT .dashboard-item-content,
.react-grid-item.MESSAGES .dashboard-item-content,
.react-grid-item.APP .dashboard-item-content {
    flex: 1;
}

.CHART.resizing .dashboard-item-content,
.EVENT_CHART.resizing .dashboard-item-content {
    overflow: hidden;
}
