.button {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.button:focus {
    outline: none;
}

.icon {
    fill: #00796b;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}
