@media only screen and (max-width: 480px) {
    .container {
        margin-bottom: -4px;
    }

    .container.expanded {
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 2px;
        padding-right: 6px;
        flex: 1;
    }

    .container.collapsed {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
    }
}
