.clearbutton {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    padding: 0px 5px;
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
}

.clearbutton:focus {
    outline: none;
}
