.root {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: var(--colors-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 3px;
    transition: all ease-out 75ms;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 7px;
}

.dragging {
    transition: 'none';
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.draghandle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 10;
    cursor: ns-resize;
    transition: all ease-out 75ms;
}
