.root {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: var(--colors-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 3px;
    transition: all ease-out 75ms;
    z-index: 2001;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 7px;
}

.dragging {
    transition: 'none';
}

.draghandle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: ns-resize;
    transition: all ease-out 75ms;
    height: 7px;
}

/* phone LANDSCAPE MODE or small screen */
@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .expanded {
        height: calc(100vh - 32px - var(--headerbar-height)) !important;
    }
}
