.root {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: var(--colors-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 3px;
    transition: all ease-out 75ms;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 7px;
}

.dragging {
    transition: 'none';
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.draghandle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: ns-resize;
    transition: all ease-out 75ms;
    height: 7px;
}

/* LANDSCAPE MODE */
@media only screen and (max-height: 480px) {
    /**
     * control bar should be 100vh -32px
     * HEADER bar height is 48px, defined as a var in :root
     */
    .expanded {
        height: calc(100vh - 32px - var(--headerbar-height)) !important;
    }
}

@media only screen and (max-width: 480px) {
    /**
     * control bar should be 100vh -32px
     * HEADER bar height is 48px, defined as a var in :root
     */
    .expanded {
        height: calc(100vh - 32px - var(--headerbar-height)) !important;
    }
}
