.link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    margin: 0 -2px;
}
.icon {
    height: 20px;
    margin-top: 2px;
    width: 20px;
}

.selected {
    fill: var(--colors-white);
}
.unselected {
    fill: var(--colors-grey700);
}
