.container {
    padding: 10px 6px 0 6px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.controls {
    display: flex;
    /* width: 246px; */
    position: fixed;
    background-color: var(--colors-white);
    float: left;
    margin-top: -10px;
    margin-left: -6px;
    padding-top: 10px;
    padding-left: 4px;
}

.newLink {
    display: inline-block;
    text-decoration: none;
    margin-right: var(--spacers-dp8);
}

@media only screen and (max-width: 480px) {
    .newLink {
        display: none;
    }

    .container {
        padding: 4px 0px 4px 4px;
    }

    .container.collapsed {
        flex-wrap: nowrap;
    }

    .chipContainer.expanded {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .chipContainer.collapsed {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-wrap: no-wrap;
    }

    .controls {
        margin-top: -4px;
        margin-left: -4px;
        padding-top: 8px;
        padding-left: 4px;
        height: 42px;
        float: none;
        position: static;
    }
}
