.container {
    padding: 10px 6px 0 6px;
}

.overflowYAuto {
    overflow-y: auto;
}

.overflowYHidden {
    overflow-y: hidden;
}

.leftControls {
    float: left;
    height: 36px;
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.newLink {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.rightControls {
    float: right;
}

.topMargin {
    margin-top: 71px;
}
