.container {
    padding: 10px 6px 0 6px;
    display: flex;
    flex-wrap: wrap;
}

.expanded {
    overflow-x: hidden;
    overflow-y: auto;
}

.collapsed {
    overflow: hidden;
}

.controls {
    display: flex;
    margin-right: 4px;
}

.newLink {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

@media only screen and (max-width: 480px) {
    .newLink {
        display: none;
    }

    .container.collapsed {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}
