.container {
    width: 200px;
    height: 36px;
    position: relative;
    align-items: center;
    display: inline-flex;
    line-height: 1.1875em;
    padding-top: var(--spacers-dp8);
}

.input {
    font-size: 14px;
    border: none;
    margin-left: var(--spacers-dp8);
}

.input::placeholder {
    opacity: 0.7;
}

.input:focus {
    outline: 0;
}

.container::before {
    content: '\00a0';
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid var(--colors-grey400);
    pointer-events: none;
}

.container.focused::after {
    transform: scaleX(1);
}

.container::after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid var(--colors-grey500);
    transform: scaleX(0);
    pointer-events: none;
}

.searchIcon {
    fill: var(--colors-grey700);
}

.searchButton {
    border: none;
    background-color: transparent;
    padding: 0px 6px 0px 0px;
}

.searchButton:hover {
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .container {
        height: 24px;
        padding-top: inherit;
    }
}
