.container {
    text-align: center;
}

.showMore {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0px;
    width: 100%;
}

.showMore:focus {
    outline: none;
}

.disabled {
    cursor: not-allowed;
}
