.container {
    display: inline;
}

.controlsSmall {
    display: none;
}

.controlsLarge {
    display: inline-flex;
    position: relative;
    top: 5px;
}

.buttonPadding {
    padding: 2px 8px 0 8px;
    display: inline-flex;
}

.buttonPosition {
    position: relative;
    display: inline-flex;
}

.chipsContainer {
    min-height: 40px;
}

@media only screen and (max-width: 480px) {
    .newLink {
        display: none;
    }

    .controlsSmall {
        display: block;
        margin-bottom: var(--spacers-dp4);
    }

    .controlsLarge {
        display: none;
    }

    .container.collapsed {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding: var(--spacers-dp4) 0 var(--spacers-dp4) var(--spacers-dp4);
    }

    .container.expanded {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-top: var(--spacers-dp12);
        padding-left: var(--spacers-dp8);
    }

    .expanded .chipsContainer .controls {
        margin-left: var(--spacers-dp4);
        margin-right: var(--spacers-dp8);
        width: 100%;
    }

    .chipsContainer {
        margin-bottom: -4px;
        padding-right: 2px;
        min-height: 0;
    }

    .expanded .chipsContainer {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 6px;
        flex: 1;
    }

    .collapsed .chipsContainer {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
    }
}
