/* react-grid-layout overrides */

.react-grid-item {
    overflow: hidden !important;
    border: 1px solid #e1e1e1;
}

.react-grid-item > .react-resizable-handle {
    width: 10px;
    height: 10px;
    padding: 0;
    background: none;
    border: 2px solid #444;
    border-top: 0 none;
    border-left: 0 none;
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* plugin item */

.react-grid-item > .pluginItem {
    overflow: auto;
}


/* react-grid-layout */

.react-grid-layout {
    background-color: #f8f8f8;
    background-color: #fff;
}


/* dashboard */

.dashboard-grid-wrapper {
    margin: 20px;
}

.dashboard-item-header {
    padding: 2px 5px 5px;
    border-bottom: 1px solid #eee;
}

.dashboard-item-content {
    padding-top: 3px;
}
