.link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

.labelWithAdornment {
    position: relative;
    inset-block-start: -2px;
}

.adornment {
    margin-inline-start: var(--spacers-dp4);
    fill: var(--colors-grey600);
}

.adornment.selected {
    fill: var(--colors-white);
}

.progressIndicator {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 4px !important;
    margin-inline-end: 0 !important;
    inline-size: 16px !important;
    block-size: 16px !important;
}

.progressIndicator.selected {
    color: var(--colors-white);
}

@media only screen and (max-width: 480px) {
    .link {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: -2px;
        margin-inline-end: -2px;
    }
}
