.button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    inline-size: 24px;
    block-size: 24px;
}

.button > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:focus {
    outline: none;
}

.icon {
    inline-size: 16px;
    block-size: 16px;
}

@media only screen and (max-width: 480px) {
    .button {
        margin-block-end: var(--spacers-dp4);
        margin-inline-end: 1px;
    }
}
