.container {
    display: inline;
}

.controlsSmall {
    display: none;
}

.controlsLarge {
    display: inline-flex;
    position: relative;
}

.buttonPadding {
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: var(--spacers-dp8);
    display: inline-flex;
}

.buttonPosition {
    position: relative;
    display: inline-flex;
}

.chipsContainer {
    min-block-size: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

@media only screen and (max-width: 480px) {
    .newLink {
        display: none;
    }

    .controlsSmall {
        display: block;
        margin-block-end: var(--spacers-dp4);
    }

    .controlsLarge {
        display: none;
    }

    .container.collapsed {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .container.expanded {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-block-start: var(--spacers-dp12);
        padding-inline-start: var(--spacers-dp8);
    }

    .expanded .chipsContainer .controls {
        margin-inline-start: var(--spacers-dp4);
        margin-inline-end: var(--spacers-dp8);
        inline-size: 100%;
    }

    .expanded .chipsContainer {
        overflow-x: hidden;
        overflow-y: auto;
        padding-inline-end: 6px;
        flex: 1;
    }

    .collapsed .chipsContainer {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
    }
}
