.container {
    display: inline;
}

.controlsSmall {
    display: none;
}

.controlsLarge {
    display: inline-flex;
    position: relative;
}

.buttonPadding {
    padding: 0 var(--spacers-dp8) 0 0;
    display: inline-flex;
}

.buttonPosition {
    position: relative;
    display: inline-flex;
}

.chipsContainer {
    min-height: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.noDashboardsMessage {
    padding-left: 6px;
    color: #4A5768;
    font-size: 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    line-height: 16px;
    user-select: none;
}
@media only screen and (max-width: 480px) {
    .newLink {
        display: none;
    }

    .controlsSmall {
        display: flex;
        justify-content: space-between;
    }

    .controlsLarge {
        display: none;
    }

    .container.collapsed {
        display: flex;
        overflow: hidden;
    }

    .container.expanded {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-top: var(--spacers-dp6);
        padding-left: var(--spacers-dp6);
    }

    .expanded .chipsContainer .controls {
        margin-left: var(--spacers-dp4);
        margin-right: var(--spacers-dp8);
        width: 100%;
    }

    .expanded .chipsContainer {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 6px;
        flex: 1;
    }

    .collapsed .chipsContainer {
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 6px;
    }
}
