.bar {
    position: relative;
}

.container {
    position: relative;
    background-color: var(--colors-white);
    border-bottom: 1px solid var(--colors-grey400);
    box-shadow: 0 -2px 4px rgba(33, 41, 52, 0.02) inset;
    overflow: hidden;
    box-sizing: border-box;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--user-rows-height);
    width: 100%;
    z-index: 1;
    padding: var(--spacers-dp8);
}

.content {
    overflow: hidden;
}

.expanded .content {
    overflow-y: auto;
}

.expanded .container {
    height: var(--max-rows-height);
    z-index: 1999;
}

.spacer {
    display: none;
    box-sizing: border-box;
    flex: none;
    height: var(--user-rows-height);
}

@media only screen and (min-width: 481px) {
    .expanded .spacer {
        display: block;
    }

    .expanded .container {
        position: absolute;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .collapsed .content {
        flex-wrap: nowrap;
    }

    .expanded .content {
        overflow-y: hidden;
        flex-direction: column;
    }

    .expanded .spacer {
        display: block;
        height: var(--min-rows-height);
    }
}

/* phone LANDSCAPE MODE or small screen */
@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .collapsed .container {
        height: var(--min-rows-height);
    }

    .expanded .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: var(--sm-expanded-controlbar-height);
    }

    .expanded .content {
        flex-direction: column;
    }
}
