.toolbar {
    background: var(--colors-white);
    border-block-end: 1px solid var(--colors-grey400);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockCreationNavigation {
    display: flex;
    flex-shrink: 0;
    gap: var(--spacers-dp4);
    padding: var(--spacers-dp8) var(--spacers-dp12) 9px var(--spacers-dp8);
    border-inline-end: 1px solid var(--colors-grey400);
}

@media only screen and (max-width: 480px) {
    .blockCreationNavigation .createDashboardButton,
    .navMenuButtonText {
        display: none;
    }
}
