.bar {
    position: relative;
}

.container {
    position: relative;
    background-color: var(--colors-white);
    border-bottom: 1px solid var(--colors-grey300);
    overflow: hidden;
    box-sizing: border-box;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px;
    height: var(--user-rows-height);
    width: 100%;
    z-index: 1;
}

.expanded .container {
    height: var(--max-rows-height);
    z-index: 1999;
    box-shadow: var(--elevations-e400);
}

.expanded .content {
    height: 100%;
    overflow-y: auto;
}
@media only screen and (min-width: 481px) {
    .expanded .container {
        position: absolute;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .collapsed .content {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .expanded .content {
        overflow: hidden;
        height: auto;
        flex-direction: column;
    }
}

/* phone LANDSCAPE MODE or small screen */
@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .container {
        padding: 6px 0 6px 6px;
    }
    .collapsed .container {
        height: var(--min-rows-height);
    }

    .expanded .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: var(--sm-expanded-controlbar-height);
    }

    .expanded .content {
        flex-direction: column;
    }
}
