.draghandle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: ns-resize;
    transition: all ease-out 75ms;
    height: 7px;
}

.draghandle:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--colors-white);
    transition: background 0.2s 0.1s;
}

.draghandle:hover:after {
    background: var(--colors-blue300);
}

.draghandle:active:after {
    background: var(--colors-blue500);
    transition: none;
}

@media only screen and (max-width: 480px) {
    .draghandle {
        display: none;
    }
}
