.draghandle {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    cursor: ns-resize;
    transition: all ease-out 75ms;
    block-size: 7px;
}

.draghandle:after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    block-size: 3px;
    inline-size: 100%;
    background: var(--colors-white);
}

.draghandle:hover:after {
    background: var(--colors-blue300);
    transition: background 0.2s 0.1s;
}

.draghandle:active:after {
    background: var(--colors-blue500);
    transition: none;
}

@media only screen and (max-width: 480px) {
    .draghandle {
        display: none;
    }
}
