.searchArea {
    inline-size: 200px;
    block-size: 30px;
    position: relative;
    align-items: center;
    display: inline-flex;
    line-height: 1.1875em;
}

.input {
    font-size: 14px;
    border: none;
    inline-size: 100%;
    min-inline-size: 0;
    margin: 0;
}

.input::placeholder {
    opacity: 0.7;
}

.input:focus {
    outline: 0;
}

.searchArea::before {
    content: '\00a0';
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    position: absolute;
    border-block-end: 1px solid var(--colors-grey400);
    pointer-events: none;
}

.searchArea.focused::after {
    transform: scaleX(1);
}

.searchArea::after {
    content: '';
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    position: absolute;
    border-block-end: 1px solid var(--colors-grey500);
    transform: scaleX(0);
    pointer-events: none;
}

.searchButton {
    border: none;
    background-color: transparent;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 6px;
}

.searchButton:hover {
    cursor: pointer;
}

.searchButton {
    display: none;
}

.searchIconContainer {
    block-size: 0.01em;
    max-block-size: 2em;
    align-items: center;
    margin-inline-end: 8px;
    margin-block-end: 16px;
}

.clearButtonContainer {
    block-size: 0.01em;
    max-block-size: 2em;
    display: flex;
    align-items: center;
    margin-inline-start: 8px;
}

@media only screen and (max-width: 480px) {
    .input {
        inline-size: 100%;
        padding-block-end: 2px;
    }

    /* collapsed controlbar */
    .collapsed .searchArea {
        display: none;
    }

    .collapsed .searchButton {
        display: inline;
        padding-block-start: 8px;
    }

    /* expanded controlbar */

    .expanded .searchArea {
        display: flex;
        block-size: 24px;
        padding-block-start: inherit;
        inline-size: 100%;
    }
}
