.container {
    text-align: center;
    flex: none;
    block-size: 21px;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
}

.showMore {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0px;
    inline-size: 100%;
    block-size: 21px;
}

.showMore:hover {
    background: var(--colors-grey200);
    transition: background 0.2s 0.1s;
}
.showMore:active {
    background: var(--colors-grey300);
    transition: none;
}

.showMore:focus {
    outline: none;
}

.disabled {
    cursor: not-allowed;
}
