.DashboardList > ul > li {
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    color: #444;

    padding: 6px 11px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.DashboardList > ul > li:hover {
    border-color: #bbb;
}
