.container {
    background-color: var(--colors-grey200);
    padding-inline-start: var(--spacers-dp8);
    padding-inline-end: var(--spacers-dp8);
    padding-block-end: var(--spacers-dp12);
    overflow: auto;
}
.contentWrap {
    overflow: visible;
    margin: 0;
    padding: 0;
    inline-size: 100%;
}
@media only screen and (max-height: 480px) {
    .container {
        overflow: visible;
    }
}
