/* react-grid-layout style */
.react-grid-layout {
    direction: ltr;
}
.react-grid-item {
    overflow: hidden !important;
    box-shadow: 0px 0px 3px 0px #999999;
    background-color: #ffffff;
    border-radius: 3px;
    min-block-size: 70px;
    min-inline-size: 70px;
}

.react-grid-item.edit,
.react-grid-item.EVENT_VISUALIZATION,
.react-grid-item.RESOURCES,
.react-grid-item.TEXT,
.react-grid-item.MESSAGES,
.react-grid-item.APP {
    display: flex;
    flex-direction: column;
}

.react-grid-item.edit:hover {
    cursor: move;
}

.react-grid-item.edit.react-resizable-hide {
    cursor: auto;
}

.react-grid-item.SPACER.view {
    visibility: hidden;
}

.react-grid-item.SPACER.edit {
    background-color: rgba(255, 255, 255, 0.3);
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 150ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* react-resizable */

.react-resizable-handle {
    background: none;
}

/* dashboard item - content */

.dashboard-item-content {
    margin-block-start: 0;
    margin-block-end: var(--item-content-padding);
    margin-inline-start: var(--item-content-padding);
    margin-inline-end: var(--item-content-padding);
    overflow: auto;
}

.dashboard-item-content-hidden-title {
    margin-block-start: 5px;
    margin-block-end: 4px;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    overflow: auto;
}

.TEXT .dashboard-item-content {
    padding-block-end: var(--item-content-padding);
}

.EVENT_REPORT .dashboard-item-content {
    position: relative;
}

.APP .dashboard-item-content,
.CHART .dashboard-item-content,
.VISUALIZATION .dashboard-item-content,
.MAP .dashboard-item-content,
.EVENT_CHART .dashboard-item-content,
.EVENT_VISUALIZATION .dashboard-item-content {
    position: relative;
    overflow: hidden;
}

.react-grid-item.edit .dashboard-item-content,
.react-grid-item.RESOURCES .dashboard-item-content,
.react-grid-item.TEXT .dashboard-item-content,
.react-grid-item.MESSAGES .dashboard-item-content,
.react-grid-item.APP .dashboard-item-content-hidden-title {
    flex: 1;
}
