.container {
    padding-block-start: var(--spacers-dp48);
    padding-block-end: 0;
    padding-inline-start: var(--spacers-dp8);
    padding-inline-end: var(--spacers-dp8);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--colors-grey600);
}
