body {
    background-color: #f4f6f8;
}

.app-wrapper {
    font-family: Roboto;
    position: relative;
}

.dashboard-header-bar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dashboard-wrapper {
    background-color: #f4f6f8;
    padding-left: 10px;
    padding-right: 10px;
}

/* plugin TODO */

table.pivot * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/* temporary workaround for headerbar */
.secondary-light-bg {
    background-color: #48a999;
}

@media print {
    .dashboard-header-bar,
    .dashboard-control-bar,
    .page-container-top-margin {
        display: none;
    }

    body {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .PAGEBREAK {
        visibility: hidden;
        break-after: page;
        page-break-after: always;
    }

    .page-break-button {
        visibility: hidden;
    }

    * {
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.printview .react-grid-item {
    position: static !important;
    transform: none !important;
    margin-top: 3vh;
    margin-bottom: 10px;
    border: 1px solid #d3d4d6;
    box-shadow: none;
    width: 80vw !important;
    height: 80vw !important;
    max-height: 95vh !important;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    /*page-break-inside: avoid;*/
    break-inside: avoid; /* IE 10+ */
    /* page-break-before: always;
        break-before: page; */
}

@page {
    size: 8.5in 11in landscape;
    margin: 10pt;
}

@page:first {
    size: 8.5in 11in landscape;
    margin: 50px 10pt 10pt 10pt;
}
