body {
    background-color: #f4f6f8;
}

.app-shell-app {
    overflow: hidden !important;
}

.dashboard-wrapper {
    background-color: #f4f6f8;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    padding-bottom: 100px;
}

/* plugin TODO */

table.pivot * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/* temporary workaround for headerbar */
.secondary-light-bg {
    background-color: #48a999;
}

.fullscreen {
    height: 95vh !important;
    width: 100vw !important;
}

.pivot-table-container:fullscreen {
    background-color: white;
    overflow: scroll;
}

.event-report-container:fullscreen {
    background-color: white;
    overflow: scroll;
}

.event-report-container:fullscreen > table {
    margin: 0 auto;
}

.pivot-table-container:fullscreen > table {
    margin: 0 auto;
}

.dashboard-item-content.fullscreen > div {
    height: 95vh !important;
}

@media print {
    body {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        background-color: white;
    }

    .app-shell-app {
        overflow: visible !important;
    }
}
