body {
    background-color: #f4f6f8;
}

.app-shell-app {
    overflow: hidden !important;
}

.dashboard-wrapper {
    background-color: #f4f6f8;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    padding-bottom: 100px;
}

/* plugin TODO */

table.pivot * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/* temporary workaround for headerbar */
.secondary-light-bg {
    background-color: #48a999;
}

div:fullscreen,
div:-webkit-full-screen {
    background-color: white;
}

div:-webkit-full-screen {
    object-fit: contain;
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    margin: 0px !important;
}

div:fullscreen .dashboard-item-content,
div:-webkit-full-screen .dashboard-item-content {
    height: 95vh !important;
    width: 100vw !important;
}

@media print {
    body {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        background-color: white;
    }

    .app-shell-app {
        overflow: visible !important;
    }
}
