.itemHeaderWrap {
    display: flex;
    margin: var(--item-header-margin-top) var(--spacers-dp8)
        var(--item-header-margin-bottom) var(--spacers-dp8);
}

.itemTitle {
    font-weight: 700;
    color: var(--colors-grey800);
    font-size: 14px;
    padding: 0;
    margin: 0;
    align-self: center;
}

.itemActionsWrap {
    margin-left: auto;
    flex-shrink: 0;
}
.itemActionsWrap button {
    margin-left: var(--spacers-dp8);
}
