.button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.button > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:focus {
    outline: none;
}

.icon {
    width: 16px;
    height: 16px;
}
