.container {
    position: relative;
    background-color: var(--colors-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px 3px;
    z-index: 2001;
    overflow: hidden;
    box-sizing: border-box;
    flex: none;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 10px 6px 0 6px;
    overflow: hidden;
    margin-bottom: 21px; /* to make space for the show more button */
}

.expanded .content {
    overflow-y: auto;
}

.one {
    height: 71px;
}
.two {
    height: 111px;
}
.three {
    height: 151px;
}
.four {
    height: 191px;
}
.five {
    height: 231px;
}
.six {
    height: 271px;
}
.seven {
    height: 311px;
}
.eight {
    height: 351px;
}
.nine {
    height: 391px;
}
.ten {
    height: 431px;
}

.expanded .container {
    height: 431px;
}

.topMargin {
    display: none;
    box-sizing: border-box;
    flex: none;
}

@media only screen and (min-width: 481px) {
    .expanded .topMargin {
        display: block;
    }

    .expanded .container {
        position: absolute;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .collapsed .content {
        flex-wrap: nowrap;
    }

    .expanded .content {
        overflow-y: hidden;
        flex-direction: column;
    }

    .expanded .topMargin {
        display: block;
        height: 71px;
    }
}

/* phone LANDSCAPE MODE or small screen */
@media only screen and (max-height: 480px), only screen and (max-width: 480px) {
    .collapsed .container {
        height: 71px;
    }

    .expanded .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: calc(100% - 32px);
    }

    .expanded .content {
        flex-direction: column;
    }
}
