.searchArea {
    top: -4px;
    width: 200px;
    height: 30px;
    position: relative;
    align-items: center;
    display: inline-flex;
    line-height: 1.1875em;
}

.input {
    font-size: 14px;
    border: none;
    width: 100%;
    min-width: 0px;
    margin: 0;
    padding: 6px 0 7px;
}

.input::placeholder {
    opacity: 0.7;
}

.input:focus {
    outline: 0;
}

.searchArea::before {
    content: '\00a0';
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid var(--colors-grey400);
    pointer-events: none;
}

.searchArea.focused::after {
    transform: scaleX(1);
}

.searchArea::after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid var(--colors-grey500);
    transform: scaleX(0);
    pointer-events: none;
}

.searchIcon,
.searchIconSmall,
.searchIconLarge {
    fill: var(--colors-grey700);
}

.searchButton {
    border: none;
    background-color: transparent;
    padding: 0px 6px 0px 0px;
}

.searchButton:hover {
    cursor: pointer;
}

.searchButton {
    display: none;
}

.searchIconContainer {
    height: 0.01em;
    max-height: 2em;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 16px;
}

.clearButtonContainer {
    height: 0.01em;
    max-height: 2em;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.searchIconSmall {
    display: none;
}

.container {
    display: inline;
}

@media only screen and (max-width: 480px) {
    .input {
        width: 100%;
    }

    .searchIconSmall {
        display: inline;
    }

    /* collapsed controlbar */
    .collapsed .searchArea {
        display: none;
    }

    .collapsed .searchButton {
        display: inline;
        padding-top: 8px;
    }

    .collapsed .searchIconLarge {
        display: inline;
    }

    /* expanded controlbar */

    .expanded .searchArea {
        display: flex;
        height: 24px;
        padding-top: inherit;
        width: 100%;
    }

    .expanded .searchIconLarge {
        display: none;
    }
}
