.actions {
    display: flex;
    gap: var(--spacers-dp4);
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp8) 0;
}

@media only screen and (max-width: 480px) {
    .editButton,
    .shareButton {
        display: none;
    }
}
