.actions {
    display: flex;
    gap: var(--spacers-dp4);
    padding: 0 var(--spacers-dp8);
}

@media only screen and (max-width: 480px) {
    .actions .editButton,
    .actions .shareButton {
        display: none;
    }
}
