.star {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: var(--spacers-dp4);
    margin-inline-end: 0;
    padding: 0;
    border: none;
    position: relative;
    inset-block-start: 1px;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.star:disabled {
    cursor: not-allowed;
}
