.outer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: auto;
}
.inner {
    padding-block-start: var(--spacers-dp16);
    padding-block-end: var(--spacers-dp16);
    padding-inline-start: var(--spacers-dp24);
    padding-inline-end: var(--spacers-dp24);
    max-inline-size: 600px;
    box-sizing: border-box;
    color: var(--colors-grey900);
    position: relative;
    padding-block-start: 15vh;
}
.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.errorIcon {
    inline-size: 136px;
    block-size: 136px;
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp24);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.errorTitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey800);
    letter-spacing: 0.15px;
    line-height: 24px;
    inline-size: 360px;
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp12);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.errorDescription {
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-grey700);
    line-height: 19px;
    inline-size: 360px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.title {
    font-weight: 500;
    font-size: 17px;
    margin-block-start: 0;
    line-height: 22px;
    color: var(--colors-grey800);
}
.section {
    text-align: start;
    background: var(--colors-white);
    padding: var(--spacers-dp16);
    margin-block-end: var(--spacers-dp24);
    border-radius: 5px;
    border: 1px solid var(--colors-grey300);
}
.guide {
    line-height: 18px;
    letter-spacing: 0.1px;
    list-style-position: outside;
    list-style-type: circle;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: var(--spacers-dp12);
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: var(--spacers-dp12);
    padding-inline-end: 0;
}
.guideItem {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin-block-end: var(--spacers-dp12);
}
