.wrapper {
    background-color: #f4f6f8;
    margin-left: 30px;
}

.pageOuter {
    padding: 10px;
    background-color: white;
}

@media print {
    .pageWrapper {
        display: none;
    }

    .wrapper {
        background-color: white;
    }
}
