.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: var(--spacers-dp8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: var(--spacers-dp8);
}

.message {
    font-size: 13px;
    font-stretch: normal;
    line-height: 18px;
    color: var(--colors-grey800);
}
