.DashboardSelect {
    padding-bottom: 17px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 6px #aaa;
    box-shadow: 1px 1px 6px #aaa;
}

.wrapper {
    margin-right: 15px;
    margin-left: 15px;
}

.wrapper * {
    font-family: Roboto;
}