.container {
    display: flex;
}

.button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 24px;
    color: var(--colors-white);
    font-size: 13px;
    background-color: var(--colors-grey900);
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: var(--colors-grey800);
}

.filterButton {
    padding-inline: 6px 4px;
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
}

.filterButton:only-child {
    padding-inline-end: 6px;
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
}

.removeButton {
    padding-inline: 4px 6px;
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
}
