.bar {
    position: sticky;
    inset-block-start: var(--spacers-dp16);
    z-index: 7;
    margin-block-start: var(--spacers-dp16);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacers-dp8);
}
