.dashboard-title {
    font-size: 21px;
    font-weight: 500;
    color: #333333;
    background-color: #f5f5f5;
    min-width: 20px;
}

.dashboard-title:focus {
    outline: 0 none;
    color: #666;
}
