.itemFooter {
    position: relative;
}

.line {
    margin-block-start: -1px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    block-size: 1px;
    border: none;
    background-color: var(--colors-grey400);
}

.cover:hover {
    cursor: not-allowed;
}

.scrollContainer {
    position: relative;
    overflow-y: auto;
    block-size: 376px;
}
