.textDiv {
    font-size: 14px;
    font-stretch: normal;
    padding: 10px;
    line-height: 20px;
}

.cover {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--colors-white);
}
