.actions {
    display: flex;
    align-items: center;
    margin-inline-start: 8px;
}

.strip {
    display: flex;
    margin-inline-start: var(--spacers-dp8);
}

.strip > * {
    margin-inline-start: var(--spacers-dp8);
}

.strip .moreButtonSmall {
    display: none;
}

@media only screen and (max-width: 480px) {
    .strip .editButton,
    .strip .presentButton,
    .strip .shareButton {
        display: none;
    }

    .strip .moreButton {
        display: none;
    }

    .strip .moreButtonSmall {
        display: inline-flex;
    }
}

.link {
    text-decoration: none;
}
