.actions {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
    padding: 0 var(--spacers-dp8);
}

.strip {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
}

.strip .moreButtonSmall {
    display: none;
}

@media only screen and (max-width: 480px) {
    .strip .editButton,
    .strip .shareButton {
        display: none;
    }

    .strip .moreButton {
        display: none;
    }

    .strip .moreButtonSmall {
        display: inline-flex;
    }
}

.link {
    text-decoration: none;
}
