.desc {
    color: var(--colors-grey800);
}

.noDesc {
    color: var(--colors-grey600);
}

.descContainer {
    margin-block-start: var(--spacers-dp8);
    padding: 0 var(--spacers-dp16);
    font-size: 14px;
    line-height: 18px;
}
