.star {
    margin: 0 0 0 var(--spacers-dp4);
    padding: 0;
    border: none;
    position: relative;
    top: 1px;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.star:disabled {
    cursor: not-allowed;
}
