.star {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 3px;
    padding: var(--spacers-dp4);
    border: none;
    background: transparent;
    position: relative;
    outline: none;
    cursor: pointer;
}
.star:disabled {
    cursor: not-allowed;
}
.star:hover {
    background: var(--colors-grey300);
}
.starIcon {
    width: 24px;
    height: 24px;
    display: block;
}
.starIcon svg {
    color: var(--colors-grey600);
}
.star:hover .starIcon svg {
    color: var(--colors-grey700);
}
.star:active .starIcon svg {
    color: var(--colors-grey900);
}
