.container {
    margin-top: var(--spacers-dp12);
}

.titleBar {
    display: flex;
    align-items: flex-start;
}

.title {
    position: relative;
    font-size: 21px;
    font-weight: 500;
    color: var(--colors-black);
    min-width: 50px;
    cursor: default;
    user-select: text;
    top: 7px;
}

@media only screen and (max-width: 480px) {
    .title {
        top: 3px;
    }
}
