.container {
    margin-top: var(--spacers-dp12);
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: var(--colors-grey900);
    user-select: text;
}
