.DashboardTitle-textfield {
    border: 0 none;
    padding: 5px;
    font-size: 23px;
    font-weight: 300;
    width: 100%
}

.DashboardTitle-textfield:focus {
    outline: 0 none;
    border: 0 none;
    color: #666 ;
}