.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.launchLinkButton {
    all: unset;
    display: flex;
    margin-inline-start: 8px;
    z-index: 10000;
    color: var(--colors-grey600);
}

.label {
    display: flex;
    align-items: center;
}

.launchLinkButton:hover {
    color: var(--colors-grey900);
}
