name: 'dhis2: verify (app)'

on:
    pull_request:
        types: ['opened', 'labeled', 'reopened', 'synchronize']
    push:
        branches:
            - 'master'
            - 'dev'
        tags:
            - '*'

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    GH_TOKEN: ${{secrets.DHIS2_BOT_GITHUB_TOKEN}}
    CI: true

jobs:
    setup-matrix:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.set-matrix.outputs.specs }}
        steps:
            - uses: actions/checkout@v3
            - name: Generate test matrix
              id: set-matrix
              run: |
                  node cypress/support/generateTestMatrix.js > matrix.json
                  echo "::set-output name=specs::$(cat matrix.json)"

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Build
              run: yarn d2-app-scripts build

            - uses: actions/upload-artifact@v3
              with:
                  name: app-build
                  path: |
                      **/build
                      !**/node_modules
                  retention-days: 1

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Lint
              run: yarn d2-style check

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Test
              run: yarn d2-app-scripts test

    e2e-prod:
        runs-on: ubuntu-latest
        needs: [test, setup-matrix]
        if: "!contains(github.event.head_commit.message, '[skip ci]')"

        strategy:
            fail-fast: false
            matrix:
                spec-group: ${{ fromJson(needs.setup-matrix.outputs.matrix) }}

        env:
            SHOULD_RECORD: ${{ contains(github.event.head_commit.message, '[e2e record]') || contains(join(github.event.pull_request.labels.*.name), 'e2e record') }}

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('patches/*.patch') }}

            - name: Set Cypress Record Environment Variables
              if: env.SHOULD_RECORD == 'true'
              run: |
                  echo "CYPRESS_GROUP=e2e-${{ matrix.spec-group.id }}" >> $GITHUB_ENV
                  echo "CYPRESS_TAG=${{ github.event_name }}" >> $GITHUB_ENV
                  echo "CYPRESS_CI_BUILD_ID=${{ github.run_id }}" >> $GITHUB_ENV

            - name: Debug Environment Variables
              run: |
                  echo "SHOULD_RECORD=${{ env.SHOULD_RECORD }}"
                  echo "CI Build ID=${{ github.run_id }}"
                  echo "Computed Group=${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_GROUP || '' }}"
                  echo "Computed Tag=${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_TAG || '' }}"
                  echo "Computed CI Build ID=${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_CI_BUILD_ID || '' }}"
                  echo "Spec=${{ join(matrix.spec-group.tests, ',') }}"

            - name: End-to-End tests
              uses: cypress-io/github-action@v2
              with:
                  start: ${{ env.SERVER_START_CMD }}
                  wait-on: ${{ env.SERVER_URL }}
                  wait-on-timeout: 300
                  cache-key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('patches/*.patch') }}
                  record: ${{ env.SHOULD_RECORD }}
                  parallel: ${{ env.SHOULD_RECORD }}
                  group: ${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_GROUP || '' }}
                  tag: ${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_TAG || '' }}
                  ci-build-id: ${{ env.SHOULD_RECORD == 'true' && env.CYPRESS_CI_BUILD_ID || '' }}
                  spec: ${{ join(matrix.spec-group.tests, ',') }}
              env:
                  CI: true
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
                  SERVER_START_CMD: 'yarn cypress:start'
                  SERVER_URL: 'http://localhost:3000'
                  cypress_dhis2_api_stub_mode: 'DISABLED'
                  REACT_APP_DHIS2_BASE_URL: ${{ secrets.CYPRESS_DHIS2_BASE_URL_41 }}
                  cypress_dhis2_base_url: ${{ secrets.CYPRESS_DHIS2_BASE_URL_41}}
                  cypress_dhis2_username: ${{ secrets.CYPRESS_DHIS2_USERNAME }}
                  cypress_dhis2_password: ${{ secrets.CYPRESS_DHIS2_PASSWORD }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    release:
        runs-on: ubuntu-latest
        needs: e2e-prod
        if: |
            !github.event.push.repository.fork &&
            github.actor != 'dependabot[bot]' &&
            (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev'|| startsWith(github.ref, 'refs/tags/'))
        steps:
            - uses: actions/checkout@v3
              with:
                  token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - uses: actions/download-artifact@v3
              with:
                  name: app-build

            - name: Install
              run: yarn install --frozen-lockfile

            - uses: dhis2/action-semantic-release@master
              with:
                  publish-apphub: true
                  publish-github: true
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
                  apphub-token: ${{ secrets.DHIS2_BOT_APPHUB_TOKEN }}

            - uses: dhis2/deploy-build@master
              with:
                  build-dir: build/app
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

    report-release-failure:
        runs-on: ubuntu-latest
        needs: release
        if: |
            failure() &&
            !cancelled() &&
            github.ref == 'refs/heads/master'
        steps:
            - name: Checkout code
              uses: actions/checkout@master

            - name: Extract version
              id: extract_version
              uses: Saionaro/extract-package-version@v1.2.1

            - name: Send failure message to analytics-internal-bot slack channel
              id: slack
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
                  payload: |
                      {
                        "text": ":small_red_triangle_down: :dashboard-app: Dashboard version ${{ steps.extract_version.outputs.version }} release <https://github.com/dhis2/dashboard-app/actions/workflows/dhis2-verify-app.yml?query=branch%3Amaster+is%3Afailure|failed>",
                        "blocks": [
                          {
                            "type": "section",
                            "text": {
                              "type": "mrkdwn",
                              "text": ":small_red_triangle_down: :dashboard-app: Dashboard version ${{ steps.extract_version.outputs.version }} release <https://github.com/dhis2/dashboard-app/actions/workflows/dhis2-verify-app.yml?query=branch%3Amaster+is%3Afailure|failed>"
                            }
                          }
                        ]
                      }
              env:
                  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

    report-release-success:
        runs-on: ubuntu-latest
        needs: release
        if: |
            success() &&
            !cancelled() &&
            github.ref == 'refs/heads/master' &&
            contains(github.event.head_commit.message, 'chore(release)')
        steps:
            - name: Checkout code
              uses: actions/checkout@master

            - name: Extract version
              id: extract_version
              uses: Saionaro/extract-package-version@v1.2.1

            - name: Send success message to analytics-internal-bot slack channel
              id: slack
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
                  payload: |
                      {
                        "text": "Dashboard app release ${{ steps.extract_version.outputs.version }} succeeded",
                        "blocks": [
                          {
                            "type": "header",
                            "text": {
                                "type": "plain_text",
                                "text": ":large_green_circle: :dashboard-app: Dashboard version ${{ steps.extract_version.outputs.version }} released :tada:",
                                "emoji": true
                            }
                          },
                          {
                            "type": "divider"
                          },
                          {
                            "type": "section",
                            "text": {
                                "type": "mrkdwn",
                                "text": "*Release Notes*"
                            }
                          },
                          {
                            "type": "section",
                            "text": {
                                "type": "mrkdwn",
                                "text": ${{ toJSON(github.event.head_commit.message) }}
                            }
                          },
                          {
                            "type": "divider"
                          },
                          {
                            "type": "section",
                            "text": {
                                "type": "mrkdwn",
                                "text": "Link to <https://github.com/dhis2/dashboard-app/actions/workflows/dhis2-verify-app.yml?query=branch%3Amaster+is%3Asuccess|build>"
                            }
                          }
                        ]
                      }
              env:
                  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
