name: 'dhis2: verify (app)'

on:
    pull_request:
        types: ['opened', 'edited', 'reopened', 'synchronize']
    push:
        branches:
            - 'master'
            - 'dev'
            - 'patch/*'
        tags:
            - '*'

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    GH_TOKEN: ${{secrets.DHIS2_BOT_GITHUB_TOKEN}}
    CI: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Build
              run: yarn d2-app-scripts build

            - uses: actions/upload-artifact@v3
              with:
                  name: app-build
                  path: |
                      **/build
                      !**/node_modules
                  retention-days: 1

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Lint
              run: yarn d2-style check

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Test
              run: yarn d2-app-scripts test

    e2e-prod:
        runs-on: ubuntu-latest
        needs: test
        if: "!contains(github.event.head_commit.message, '[skip ci]')"

        strategy:
            matrix:
                containers: [1, 2, 3, 4]

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            - name: End-to-End tests
              uses: cypress-io/github-action@v2
              with:
                  record: true
                  parallel: true
                  start: ${{ env.SERVER_START_CMD }}
                  wait-on: ${{ env.SERVER_URL }}
                  wait-on-timeout: 300
                  cache-key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  group: 'e2e'
                  tag: ${{ github.event_name }}
              env:
                  CI: true
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
                  SERVER_START_CMD: 'yarn cypress:start'
                  SERVER_URL: 'http://localhost:3000'
                  cypress_dhis2_api_stub_mode: 'DISABLED'
                  REACT_APP_DHIS2_BASE_URL: ${{ secrets.CYPRESS_DHIS2_BASE_URL_40 }}
                  cypress_dhis2_base_url: ${{ secrets.CYPRESS_DHIS2_BASE_URL_40}}
                  cypress_dhis2_username: ${{ secrets.CYPRESS_DHIS2_USERNAME }}
                  cypress_dhis2_password: ${{ secrets.CYPRESS_DHIS2_PASSWORD }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    release:
        runs-on: ubuntu-latest
        needs: e2e-prod
        if: |
            !github.event.push.repository.fork &&
            github.actor != 'dependabot[bot]' &&
            github.event_name != 'pull_request'
        steps:
            - uses: actions/checkout@v3
              with:
                  token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - uses: actions/download-artifact@v3
              with:
                  name: app-build

            - name: Install
              run: yarn install --frozen-lockfile

            - uses: dhis2/action-semantic-release@master
              with:
                  publish-apphub: true
                  publish-github: true
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
                  apphub-token: ${{ secrets.DHIS2_BOT_APPHUB_TOKEN }}

            - uses: dhis2/deploy-build@master
              with:
                  build-dir: build/app
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

    report-release-failure:
        runs-on: ubuntu-latest
        needs: release
        if: |
            failure() &&
            !cancelled() &&
            github.ref == 'refs/heads/master'
        steps:
            - name: Send failure message to analytics-internal-bot slack channel
              id: slack
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
                  slack-message: ':small_red_triangle_down: :dashboard-app: Dashboard-app release <https://github.com/dhis2/dashboard-app/actions/workflows/dhis2-verify-app.yml?query=branch%3Amaster+is%3Afailure>'
              env:
                  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
