name: 'dhis2: verify (app)'

on:
    pull_request:
        types: ['opened', 'edited', 'reopened', 'synchronize']
    push:
        branches:
            - 'master'
            - 'dev'
        tags:
            - '*'

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    GH_TOKEN: ${{secrets.DHIS2_BOT_GITHUB_TOKEN}}
    CI: true

jobs:
    call-workflow-e2e-prod:
        if: "!contains(github.event.head_commit.message, '[skip ci]')"
        uses: dhis2/data-visualizer-app/.github/workflows/e2e-prod.yml@dev
        secrets:
            baseurl: ${{ secrets.CYPRESS_DHIS2_BASE_URL_DEV }}
            username: ${{ secrets.CYPRESS_DHIS2_USERNAME }}
            password: ${{ secrets.CYPRESS_DHIS2_PASSWORD }}
            recordkey: ${{ secrets.CYPRESS_RECORD_KEY }}

    release:
        runs-on: ubuntu-latest
        needs: call-workflow-e2e-prod
        if: |
            !github.event.push.repository.fork &&
            github.actor != 'dependabot[bot]' &&
            github.event_name != 'pull_request'
        steps:
            - uses: actions/checkout@v3
              with:
                  token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - uses: actions/download-artifact@v3
              with:
                  name: app-build

            - name: Install
              run: yarn install --frozen-lockfile

            - uses: dhis2/action-semantic-release@master
              with:
                  publish-apphub: true
                  publish-github: true
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
                  apphub-token: ${{ secrets.DHIS2_BOT_APPHUB_TOKEN }}

            - uses: dhis2/deploy-build@master
              with:
                  build-dir: build/app
                  github-token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

    report-release-failure:
        runs-on: ubuntu-latest
        needs: release
        if: |
            failure() &&
            !cancelled() &&
            github.ref == 'refs/heads/master'
        steps:
            - name: Send failure message to analytics-internal-bot slack channel
              id: slack
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
                  slack-message: ':small_red_triangle_down: :dashboard-app: Dashboard-app release <https://github.com/dhis2/dashboard-app/actions/workflows/dhis2-verify-app.yml?query=branch%3Amaster+is%3Afailure>'
              env:
                  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
